.section01 {
    background-color: #e9e9e9;
    height: 950px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    background-color: #ffdf4f;
    width: 950px;
    margin-left: auto; margin-right: auto;
}
.sct-01-top-box {
    width: 100%; height: 200px;
    background-color: #dfdfdf;
}
.sct-01-bottom-box {
    height:475px; width: 100%;
    background: #FFF2D9;
    /* flex-grow: 1; */
}
span{
    border: 1px solid #000;
    display: inline-flex; padding: 20px;
}