.bestsellers-section {
    padding-top: 124px; padding-bottom: 124px;
    padding-left: 80px; padding-right: 80px;
}
.ul-nav {
    padding-top: 65px; padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E1DED9;
}
.section-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px; /* 120% */
}
.view-all {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.amp-swiper {
    display: flex;
    gap: 40px;
}
.best-product-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}
.best-img-box {
    height: 410px;
    background-color: #bcbab8;
}
.best-discount-title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.best-discount-title > a {
    padding-bottom: 42px; padding-top: 40px;
}
.best-discount-subhead {
    padding-bottom: 40px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    border-bottom: 1px solid #E1DED9;
}
.best-price-capacity {
    padding-top: 14px; padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.best-price {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px; /* 106.25% */
}
.best-capacity {
    display: flex;
    gap: 16px;
}
.best-capacity-30 {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px; /* 121.429% */
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.best-capacity-60 {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}
.best-pro-btn {
    background: #FFF;
    flex-grow: 1;
    padding-top: 12px; padding-bottom:12px ;
    color: #212529;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.06px;

    /* text-transform: capitalize;
    font-family: Raleway;
    font-style: normal; */

    transition: 0.3s;
    border: 1px solid #E1DED9;
}
.best-pro-btn:hover{
    background-color:#212529 ;
    color:#E1DED9 ;
}