body {
    height:200vh;
}
.sct01 {
    height: 1080px;
    display: flex;
}
.box1 {
    background: #ffc3c3; 
    width: 960px; height: 1080px;
}
.box2 {
    background: #FFA2A2;
    flex-grow: 1;
}
.text {
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-left: 60px; padding-right: 60px;
    padding-bottom: 10px; padding-top: 50px;
}
.sct02 {
    display: flex;
    padding-left: 60px; padding-right: 60px;
    justify-content: space-between;
    height: 476px;
    flex-grow: 1;
    gap: 5px;
}

.box3-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box3-t {
    padding-top: 14px;
}
.box4-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box4-t {
    padding-top: 14px;
}
.box5-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box5-t {
    padding-top: 14px;
}
.box6-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box6-t {
    padding-top: 14px;
}
.box7-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box7-t {
    padding-top: 14px;
}
.box8-1 {
    background-color: #979797;
    width: 295px;
    height: 402px;
}
.box8-t {
    padding-top: 14px;
}