.main {
    display: flex;
}
.imgbox1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}
.imgbox1-1, .imgbox1-2{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.imgli {
    background: #FFF0C5;
    height: 350px;
    width: 488px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.imgbox2 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    flex-grow: 1;
}
.img2 {
    gap: 10px;
}
.img2-1 {
    background: #FFD8D8;
    height: 450px;
    width: 337px;
}
.imgbox3 {
    flex-grow: 1;
}
.imgli3 {
    display: flex;
    padding: 16px 0 15px 0;
    gap: 30px;
    border-top: 1px solid #979797;
}
.img6 {
    border-bottom: 1px solid #979797;
}
.img3 {
    background: #FFD396;
    width: 126px;
    height: 168px;
}
.text03 {
    display: flex;
    flex-direction: column;
    gap: 135px;
}
.text04 {
    display: flex;
    flex-direction: column;
    gap: 117px;
}
.text05 {
    display: flex;
    flex-direction: column;
    gap: 117px;
}
.text06 {
    display: flex;
    flex-direction: column;
    gap: 99px;
}